{% extends 'admin/master.html' %}
{% block head_meta %}<link rel="stylesheet" href={{ url_for("static", filename="css/bootstrap.min.css") }}>{% endblock %}

{% block title %}STEPIC CRM{% endblock %}

{% block body %}
{% include "base.html" %}
{% block container %}
<div class="row">
    <div class="col-md-6">

        <div class="well">

            <h2>Заявки</h2>
            <p>{{ distributed }} всего, {{ distributed-counted }} распределены, {{ counted }} не распределены</p>

            <h3>Новые заявки</h3>
            <table class="table">
                {% for group in new_groups %}
                    <tr>
                        <td><a href="group/edit/?id={{ group.uid }}">{{ group.title }}</a></td>
                        <td>{{ group.numbers_of_applicants }} / {{ group.max_applicants }} набрано</td>
                        <td>
                            {% if group.numbers_of_applicants < group.max_applicants|int %}
                                    Есть места
                            {% else %}
                                Нет мест
                            {% endif %}
                        </td></group.max_applicants>
                    </tr>
                {% endfor %}
            </table>
            <br>
            <a href="" class></a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="well">

            <h2>Группы</h2>
            <br>
            <table class="table">
                {% for group in groups %}
                    <tr>
                        <td><a href="group/edit/?id={{ group.uid }}">{{group.title}}</a></td>
                        <td>{{ group.numbers_of_applicants }} / {{ group.max_applicants }} набрано</td>
                        <td>
                            {% if group.numbers_of_applicants < group.max_applicants|int %}
                                    Есть места
                            {% else %}
                                    Нет мест
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

            </table>

        </div>
    </div>
</div>
{% endblock %}
{% endblock %}
